body {
 background-color: #D8BFD8;
}
header {
  background-color: #EE82EE;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
h1 {
 color: white;
}
h2 {
 color: white;
}
h3 {
 color: white;
}
h4 {
 color: white;
}
p {
 color: white;
}

