header {
  background-color: #FFEFD5 !important;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body {
 background-color: #FFDAB9 !important;
}
body {
 color: black !important;
 }
 h1 {
 color: black !important;
}
h3 {
 color: black !important;
}
p {
 color: black !important;
}
