header {
  background-color: #FFEFD5 !important;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #D2B48C !important;
}
body {
 background-color: #FFDAB9 !important;
}
body {
 color: #D2B48C !important;
 }
 h1 {
 color: #D2B48C !important;
}
h3 {
 color: #D2B48C !important;
}
p {
 color: #D2B48C !important;
}
