header {
  background-color: #E6E6FA !important;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body {
 background-color: #B0C4DE !important;
}
body {
 color: white !important;
 }
 h1 {
 color: white !important;
}
h3 {
 color: white !important;
}
p {
 color: white !important;
}

* {
  box-sizing: border-box important;
}

.box {
 height: 200px important:
}

.img-container {
  float: left important;
  width: 33.33% important;
  padding: 5px important;
}

.clearfix::after {
  content: "";
  clear: both important;
  display: table important;
}
 div {
  float:left important;
  padding 15px important;
 }
div.gallery {
  margin: 5px important; 
  border: 1px solid #ccc important;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777 important;
}

div.gallery img {
  width: 100% important;
  height: auto important;
}

div.desc {
  padding: 15px; important;
  text-align: center important;
}
