header {
  background-color: #E6E6FA !important;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body {
 background-color: #B0C4DE !important;
}
body {
 color: white !important;
 }
 h1 {
 color: white !important;
}
h3 {
 color: white !important;
}
p {
 color: white !important;
}

* {
  box-sizing: border-box;
}

.box {
 height: 200px:
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
 div {
  float:left;
  padding 15px;
 }
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
