body {
 background-color: SkyBlue;
}
.header {
 padding: 30px;
 text-align: centre;
 background: #FFF0F5;
}
h1 {
 color: SteelBlue;
}
p {
 color: Grey;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #A9A9A9;
} 
li {
 float: left;
}
li a {
 display: block;
 color: white;
 text-align: centre;
 width:60px;
 padding: 14px 16px;
 text-decoration: none;
}
li a:hover {
 background-color: #696969;
}
* {
  box-sizing: border-box;
}

.box {
 height: 500px:
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
