 <style>
  {
    box-sizing: border-box;
  }

body {
  font-family: Helvetica, sans-serif;
  }

header {
  background-colour:#F0F8FF;
  padding: 30px;
  text-align: centre;
  font-size:35px;
  color: black;
  }

nav {
  float: left;
  width: 40%;
  height: 300px;
  background: #ADD8E6
    padding: 20px;
  }

article {
  float: right;
  padding:20px;
  width: 60%;
  background-colour: #F0FFFF;
  height: 300px;
  }

section::after {
  content: "";
  display: table;
  clear: both;
  }
</style>
